.welcome-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.welcome-header h1 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0;
}
.welcome-header h4 {
  font-weight: 400;
  font-size: 1.5rem;
  padding: 2rem;
}
.welcome-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: black;
  padding-bottom: 0.5rem;
}
.welcome-form select:first-child {
  width: 15rem;
  height: 3rem;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
}
.welcome-form select {
  width: 15rem;
  height: 3rem;
  padding-left: 5px;
  border: 0;
}
.welcome-form button {
  background-color: rgb(27, 152, 131);
  color: white;
  height: 3rem;
  width: 15rem;
  padding: 0 2rem;
  border: 1px solid rgb(27, 152, 131);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 300ms ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.welcome-form button span {
  padding-right: 3px;
}

.welcome-form button:hover {
  background-color: rgb(6, 93, 78);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 0 10rem;
}

.welcome-message p {
  text-align: center;
  padding: 1rem;
}

.message-button {
  background-color: #1b9883;
  border: 1px solid #1b9883;
  color: white;
  border-radius: 1.5rem;
  margin: 0 1rem;
  padding: 0.5rem 3rem;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.message-button:hover {
  background-color: #065d4e;
}

.loading {
  display: flex;
  justify-content: center;
  height: 5rem;
  width: 100vw;
  margin-right: 7rem;
  margin-bottom: 20px;
}

.available-props {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgb(113, 113, 113);
}
.prop-header {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
}
.other-props {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(5, 5, 5, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%),
    url("../assets/images/living-room.jpg");
  border-top: 1px solid rgb(113, 113, 113);
  border-bottom: 1px solid rgb(113, 113, 113);
  margin-top: 1rem;
}
.other-props h3 {
  color: aliceblue;
  padding: 1rem 0;
}
.props-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.article {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem 0.5rem;
  width: 20rem;
  height: 20rem;
}
.article-date {
  width: 90px;
  height: 90px;
  top: 0;
  left: 40px;
  transform: translateY(-90%);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin-bottom: 0;
  box-shadow: 1px black;
}
.article-date p {
  padding: 0 0.5rem;
  margin: 0;
}
.article h4 {
  margin: 0;
}
.article-detail {
  margin-top: 1rem;
  border-top: 0.5px solid black;
}
.article-detail p {
  text-align: center;
}
.detail-button {
  border: 0.5px solid rgb(189, 189, 189);
  border-radius: 5px;
  padding: 3px 10px;
  cursor: pointer;
}
.other-props .article-view {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2rem 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
.fliers {
  background: linear-gradient(rgba(5, 5, 5, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%),
    url("../assets/images/living-room.jpg");
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 95vw;
  height: auto;
  margin-top: 3rem;
  margin-left: 2rem;
  padding: 2rem;
  border-bottom: 1px solid #1b9883;
}
.fliers img {
  width: 20rem;
  height: 20rem;
  border-radius: 30px;
}
.slider {
  margin: 0 0 2rem 0;
}
.awareness {
  background-color: #1b9883;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 40vh;
}
.awareness .awareness-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  color: white;
  margin: 2.5rem 2rem;
}
.awareness .awareness-logo h2,
.awareness .awareness-logo p {
  margin: 1rem;
}
.awareness .awareness-info {
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 5rem;
  cursor: pointer;
}
.awareness .awareness-info a {
  padding-bottom: 3px;
}
.awareness .awareness-info a span {
  margin: 0 1rem;
}
.awareness .awareness-search {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.awareness .awareness-search select {
  border-radius: 5px;
  cursor: pointer;
}
.awareness-search .search-form {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.awareness-search .search-form button {
  border: 1px solid white;
  border-radius: 4px;
  padding: 1px 5px;
  cursor: pointer;
}
.awareness-search .search-form button:hover {
  background-color: #cfdfee;
}
.motto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1b9883;
  width: 100vw;
  height: 25vh;
  padding: 0 10rem;
}
.motto div {
  border: 1px solid #1b9883;
  border-radius: 5px;
  padding: 1rem 2.5rem;
  cursor: pointer;
  transition: 500ms ease-in;
}
.motto div:hover {
  transform: translateY(-20%);
}

@media only screen and (max-width: 768px) {
  .welcome-header h1 {
    font-size: 1rem;
  }
  .welcome-header h4 {
    font-size: 0.7rem;
  }
  .welcome-button {
    border-radius: 1rem;
    margin: 0 0.6rem;
    padding: 0.5rem 1rem;
  }
  .welcome-message {
    padding: 0;
  }
  .prop-header {
    padding: 1rem 0;
  }
  .house {
    padding: 2rem 0;
  }
  .houses {
    margin: 1rem 0;
  }
  .available-props {
    border-bottom: 1px solid rgb(113, 113, 113);
  }
  .awareness {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .awareness .awareness-info {
    border-radius: 5px;
    padding: 0.1rem;
    width: 15rem;
    margin-left: 0;
    margin-right: 2rem;
  }
  .motto {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 415px) {
  .awareness {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 1.5rem;
  }
  .awareness-logo {
    margin: 0;
  }
  .awareness-logo h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
  }
  .awareness .awareness-info {
    border-radius: 10px;
    padding: 5px 0;
    margin: 1rem 0;
  }
  .awareness .awareness-search {
    color: white;
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .awareness-search .search-form {
    display: flex;
    justify-content: space-between;
    width: 70vw;
  }
  .motto {
    padding: 0 1rem;
  }
  .motto h1 {
    font-size: medium;
  }
  .motto div {
    border-radius: 3px;
    padding: 0.5rem 0.3rem;
    cursor: pointer;
    transition: 500ms ease-in;
  }
}

@media only screen and (max-width: 376px) {
  .fliers {
    margin-left: 10px;
  }
  .fliers img {
    width: 18rem;
    height: 20rem;
    border-radius: 20px;
    padding: 3px 0;
    margin-top: 0;
  }
}
