.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.section {
    margin-top: 1rem;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content:nth-child(odd) {
    background: #e9efee;
}
.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.image img {
    width: 30rem;
    height: 25rem;
    /* margin-left: -30rem; */
}
.image p {
    font-weight: bold;
}
.description {
    width: 40rem;
    height: 15rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.description span {
    font-weight: bold;
}
.button {
    border: 1px solid #1b9883;
    border-radius: 3px;
    background: white;
    color: #1b9883;
    width: 8rem;
    padding: 0.2rem 1rem;
    margin-top: 5px;
    transition: 300ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover {
    background: #1b9883;
    color: white;
}