.contact-us {
  background: #3c3c3c;
  color: white;
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
}

.contact-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}

.contact-header img {
  width: 50px;
  height: 50px;
}
.contact-header .registered {
  font-size: xx-small;
  border: 0.5px solid white;
  border-radius: 10px;
  padding: 0.2px 3px;
  transform: translate(55px, 20px);
}
.contact-address {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}
.contact-address h4, .socials h4 {
  padding-bottom: 1rem;
}
.email,
.phone,
.address {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 0.5rem;
}
.phone div:nth-child(2),
.email div:nth-child(2),
.address div:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}
.socials {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
}

.socialLink {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 0.5rem;
  position: relative;
}
.socialLink div:nth-child(2) {
  padding-left: 10px;
}

.copyright {
  background-color: black;
  width: 100vw;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialLink .tooltiptext {
  visibility: hidden;
  width: auto;
  color: black;
  text-align: center;
  border-radius: 3px;
  padding: 0 2px;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  bottom: -25%;
  background-color:white;
  opacity: 0;
  transition: opacity 1s;
}

.socialLink:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .contact-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 60vh;
  }
}
@media only screen and (max-width: 392px) {
  .contact-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 90vh;
  }
  .copyright p {
    font-size: small;
  }
}