.header {
  width: 100vw;
  height: 60vh;
  background: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .scroll-header {
  background: rgb(51, 62, 163);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
} */



.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: aliceblue;
  padding: 10rem 0;
}
.welcome-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome-header h1 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0;
}
.welcome-header h4 {
  font-weight: 400;
  font-size: 1.5rem;
  padding: 2rem;
}
.welcome-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding-bottom: 0.5rem;
}
.welcome-button {
  background-color: white;
  border: 1px solid white;
  border-radius: 1.5rem;
  margin: 0 1rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
.welcome-button:hover {
  background-color: #ccd0e1;
  border-color: 1px solid #ccd0e1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px) {
  /* .nav-links ul {
    display: none;
  }
  .navbar .logo a h3 {
    display: none;
  }
  .navbar .logo a img {
    display: inline-block;
  }
  .nav-links .nav-toggler {
    display: flex;
  } */
  .welcome-header h1 {
    font-size: 1rem;
  }
  .welcome-header h4 {
    font-size: 0.7rem;
  }
  .welcome-button {
    border-radius: 1rem;
    margin: 0 0.6rem;
    padding: 0.5rem 1rem;
  }
}

/* @media only screen and (min-width: 769px) and (max-width: 912px) {
  .navbar {
    padding: 0;
  }
  .nav-links .nav-toggler {
    display: none;
  }
  .navbar .logo a img {
    display: none;
  }
}

@media only screen and (min-width: 915px){
  .nav-links .nav-toggler {
    display: none;
  }
  .navbar .logo a img {
    display: none;
  }
} */