.header {
  width: 100vw;
  height: auto;
  background: linear-gradient(rgba(27, 152, 131, 0.3), 100%, rgba(0, 0, 0, 0.5) 100%), url("../assets/images/living-room.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: aliceblue;
  padding: 10rem 0;
}
.welcome-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome-header h1 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0;
}
.welcome-header h4 {
  font-weight: 400;
  font-size: 1.5rem;
  padding: 2rem;
}
.welcome-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: black;
  padding-bottom: 0.5rem;
}
.welcome-form input {
  width: auto;
  height: 3rem;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
}
.welcome-form select {
  width: auto;
  height: 3rem;
  padding-left: 5px;
  border: 0;
}
.welcome-form button {
  background-color: rgb(27, 152, 131);
  color: white;
  height: 3rem;
  width: auto;
  padding: 0 2rem;
  border: 1px solid rgb(27, 152, 131);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 300ms ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
.welcome-form button span {
  padding-right: 3px;
}
.welcome-form button:hover {
  background-color: rgb(6, 93, 78);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px) {
  /* .nav-links ul {
    display: none;
  }
  .navbar .logo a h3 {
    display: none;
  }
  .navbar .logo a img {
    display: inline-block;
  }
  .nav-links .nav-toggler {
    display: flex;
  } */
  .welcome-header h1 {
    font-size: 1rem;
  }
  .welcome-header h4 {
    font-size: 0.7rem;
  }
  .welcome-button {
    border-radius: 1rem;
    margin: 0 0.6rem;
    padding: 0.5rem 1rem;
  }
}

/* @media only screen and (min-width: 769px) and (max-width: 912px) {
  .navbar {
    padding: 0;
  }
  .nav-links .nav-toggler {
    display: none;
  }
  .navbar .logo a img {
    display: none;
  }
}

@media only screen and (min-width: 915px){
  .nav-links .nav-toggler {
    display: none;
  }
  .navbar .logo a img {
    display: none;
  }
} */